* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

img.square {
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
    background-color: lightgrey;
}

img.mix {
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
}

footer {
    height:100px;
    background-color: rgb(26, 26, 26);
}

footer a {
    color: darkgrey;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer div {
    font-family: monospace;
    padding: 5px;
}

.category {
    text-align: center;
    font-family: monospace;
}

.homepage-product-sub {
    text-align: right;
    font-family: monospace;
    color:black;
}

.homepage-product-price {
    text-align: right;
    font-family: monospace;
    color: rgb(110, 110, 110);
}

.column-3 {
    float: left;
    width: 33%;
    padding: 5px;
}

.column-4 {
    float: left;
    width: 25%;
    padding: 10px;
    font-family: monospace;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 500px) {
    .column-3 {
        width: 100%;
    }
    .column-4 {
        width: 50%;
    }
}

#banner {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

h1.page-title {
    font-family: monospace;
    text-align: center;
    padding: 30px;
}

#about-us-description {
    font-family: monospace;
    padding: 5px;
    font-size: 16px;
    margin: 50px;
}

.self-portrait {
    aspect-ratio: 1/ 1.2;
    object-fit: cover;
    border: 2px solid rgb(56, 56, 56);
    border-radius: 5px;
    filter: grayscale();
}